<h1>Invite your friends</h1>

<table class="table table-hover" id="invite-friends">
	<thead>
		<tr>
			<th class="center"><strong>Username</strong></th>
			<th class="center"><strong>Score</strong></th>
			<th class="center"><strong>Joined at</strong></th>
			<th class="center"><strong>Options</strong></th>

		</tr>
	</thead>
	<tbody>
		<% User.all_except(current_user).each do |invitee| %>
			<tr>
				<td><%= invitee.username %></td>
				<td>TBD</td>
				<td><%= invitee.created_at%></td>
				<td>
					<%= link_to uninvite_path(invitee_id: invitee.id), method: :delete, class: "hidden", 
					id: "uninvite-player-#{invitee.id}" do %>
						<i class="material-icons">close</i>
					<% end %>
					<%= link_to "Invite", invite_path(invitee_id: invitee.id), method: :post, 
					remote: true, class: "btn btn-primary", id: "invite-player-#{invitee.id}" %>
					<script type="text/javascript">
						<% if @game.invitees.include?(invitee) %>
							$('#invite-player-<%= invitee.id %>').css('display', 'none'); 
							$('#uninvite-player-<%= invitee.id %>').css('display', 'inline-block');
						<% end %>
					</script>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Launch game', game_path(@game), class: "btn btn-primary" %>