<div class='container-fluid' id='main-container'>
	<div class="container full-vertical-center bold">

		<% if @game.players.where(winner: true).empty? %>
			<h3 class='section-title'>Oh no... All players lose...</h3>
			<div class="row center">
				None of the player found and stopped Trump. Earth is doomed to read (and - sometimes - laugh with) Donald Trump's tweets until his death
			</div>
			<div class="row top-margin">
				<iframe src="https://giphy.com/embed/xTiTnHXbRoaZ1B1Mo8" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
			</div>
		<% else %>
			<h3 class='section-title'>YAY! <%= @game.players.where(winner: true)[0].country.capitalize %> won!!</h3>
			<div class="row center">
				Thanks to <%= @game.players.where(winner: true)[0].country.capitalize %>'s clever strategy, the world avoided nuclear apocalypse and years of Trump's tweets! 
			</div>
			<div class="row center top-margin">
				<% if @game.cities[get_trump_city(@game)][:destroyed] %>

					<%= @game.players.where(winner: true)[0].country.capitalize %> 
					found Trump in <%= get_trump_city(@game).to_s.humanize.titleize %> and launched a nuclear attack.

				<% elsif @game.cities[get_trump_city(@game)][:conquered] %>
					
					Rebels found Trump in <%= get_trump_city(@game) %> after conquering the city and thanked 
					<%= @game.players.where(winner: true)[0].country.capitalize.to_s.humanize.titleize %> which was their main support in their fight.

				<% end %>
			</div>
			<div class="row top-margin">
				<iframe src="https://giphy.com/embed/ASzK5wWjMtc6A" width="479" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
			</div>
		<% end %>
		
		<div class="center top-margin">
			<%= link_to 'Back to your games', games_path, class: 'btn btn-primary form-submit' %>
		</div>
		
	</div>
	
</div>

