<div class='container-fluid' id='main-container'>
  <form action=<%= game_path(@game)%> method="post" class='cities-form' id='cities-form'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input name="_method" type="hidden" value="patch" />
    <div class="row align-items-center" data-game='<%= @game.id %>' id='game-header'>
      <div class="col-md-4">
        <div class="row ">
          <div class="col header bold">
            Week <%= @game.turn_number %> -- Time left: <span id='timer'><%= @player.timer %></span> seconds
          </div>
          
        </div>
        <div class="row">
          <div class="col center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-action-selection" id='action-selection'>
              Available actions
            </button>

            <input type="submit" value="Update" name="commit" 
            class="btn btn-primary hidden" id='cities-submit' disabled />

            <%= link_to 'Cancel action', cancel_action_path(@game), method: :delete, 
            class: "btn btn-danger hidden", id:'action-cancel' %>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="container game-info">
          <div class="row">
            <div class="bold col-md-2 vertical-center">
              Rebels
            </div>
            <div class='col-md-4'>
              <% @game.rebels_forces.each do |type, number| %>
                <div class="row">
                  <div class="col"><%= type.capitalize %></div>
                  <div class="col"><%= number %></div>
                </div>  
              <% end %>
            </div>
            <div class="bold col-md-2 vertical-center">
              US Army
            </div>
            <div class='col-md-4'>
              <% @game.us_army_forces.each do |type, number| %>
                <div class="row">
                  <div class="col"><%= type.capitalize %></div>
                  <div class="col"><%= number %></div>
                </div>  
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div id="message-button">
          <i class="material-icons md-28" id='message-icon'>message</i>
          <div id="unread-counter"></div>
        </div>
        <div id="message-button-close">
          <i class="material-icons md-36" id='message-icon'>keyboard_arrow_up</i>
          <div id="unread-counter-close"></div>
        </div>
        <div id="message-container">
          <div class="container-fluid message-dialog">
          <% @player.messages.each do |message| %>
            <div class="message">
              <div class="message-info spaced">
                
                <div class="bold">Week <%= message.turn_number %></div>
                <i class="material-icons md-18 <%= message.read ? 'read' : 'unread' %>" 
                   data-message='<%= message.id %>'>
                 remove_red_eye
                </i>
              </div>
              <div class="message-content">
                <%= message.content %>
              </div>
            </div>
          <% end %>
          </div>  
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="player-info" id="general">
          <div class="row">
            <div class="col-md-12 spaced">
              <div class="bold">
                Playing: <%= @player.country.capitalize %>    
              </div>
              <div>
                <%= @player.lost_cities %> / <%= (@player.country == 'china') ? 9 : 5 %>  cities lost
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="bold col-md-3 vertical-center">
              Launch sites
            </div>
            <div class='col-md-9'>
              <% @player.launch_sites.each do |name, attributes| %>
              <div class="row">
                <div class='col'>
                  <%= name.capitalize %>
                </div> 
                <div class='col'>
                  <%= attributes[:operational] ? 'Operational' : 'Destroyed' %>
                </div>         
              </div>
              <% end %>
            </div>  
          </div>
        </div>
        <div class="player-info" id="spies">
          <div class="row">
            <div class="bold col-md-3 vertical-center">
              Spies
            </div>
            <div class='col-md-9'>
            <% @player.spies.each do |id, attributes| %>
              <div class="row">
                <div class='col'>
                  <%= attributes[:name] %>              
                </div>
                <div class='col'>
                  <%= attributes[:operational] ? 'Operational' : 'Killed in action' %>
                </div>
              </div>
              
            <% end %>
            </div>
          </div>
        </div>
        <div class="player-info" id="available-forces">
          <div class="row">
            <div class="bold col-md-3 vertical-center">
              Available forces
            </div>
            <div class='col-md-9'>
            <% @player.available_forces.each do |type, number| %>
              <div class="row">
                <div class="col"><%= type.capitalize %></div>
                <div class="col"><%= number %></div>
              </div>  
            <% end %>
            </div>
          </div>
        </div>
        <div class="player-info" id="engaged-forces">
          <div class="row">
            <div class="bold col-md-3 vertical-center">Engaged forces</div>
            <div class='col-md-9'>
            <% @player.engaged_forces.each do |type, number| %>
              <div class="row">
                <div class='col'><%= type.capitalize %></div>
                <div class='col'><%= number %></div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div id='map' >
        
        </div>
      </div>
    </div>
  </form>
  <div class="modal fade" id="modal-action-selection">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">What will you do, <%= @player.country.capitalize %>?</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
            <!-- Modal body -->
        <div class="modal-body" id='modal-form'>
          <div id="modal-actions">
            <ul class="button-list-vertical">
              <li>
                <button type="button" class="btn btn-primary" data-action="recruit">
                  Recruit a new spy
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="mission">
                  Place your spies
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="attack" 
                        <%= can_attack?(@player.launch_sites) ? nil : 'disabled' %>>
                  Launch a nuclear attack
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="reinforce"
                        <%= can_reinforce?(@player.available_forces) ? nil : 'disabled' %>>
                  Send reinforcements to rebels
                </button>
              </li>
            </ul>
          </div>
          <div id="modal-update" class='hidden'>
            <form action=<%= game_path(@game)%> method="post" class='modal-form'>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input name="_method" type="hidden" value="patch" />

            </form>
            <div class="alert alert-info hidden top-margin" id="modal-notification-area">
    
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger center" data-dismiss="modal" id='modal-dismissal'>
            Back to map
          </button>
          <%= link_to 'Cancel action', cancel_action_path(@game), method: :delete, 
          class: "btn btn-danger hidden", id:'modal-action-cancel' %>
        </div>   
      </div>    
    </div>
  </div>
</div>
