<div class='container-fluid' id='main-container'>
  <div class="row align-items-center" data-game='<%= @game.id %>' id='game-header'>
    <div class="col-md-4">
      <div class="row ">
        <div class="col header bold">
          Week <%= @game.turn_number %> -- Time left: <span id='timer'><%= @player.timer %></span> seconds
        </div>
        
      </div>
      <div class="row">
        <div class="col center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-action-selection" id='action-selection'>
            Available actions
          </button>

          <%= link_to 'Cancel action', cancel_action_path(@game), method: :delete, 
          class: "btn btn-danger hidden", id:'action-cancel' %>
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="container game-info">
        <div class="row">
          <div class="bold col-md-2">
            Rebels
          </div>
          <div class='col-md-4'>
            <% @game.rebels_forces.each do |type, number| %>
              <div class="row">
                <div class="col"><%= type.capitalize %></div>
                <div class="col"><%= number %></div>
              </div>  
            <% end %>
          </div>
          <div class="bold col-md-2">
            US Army
          </div>
          <div class='col-md-4'>
            <% @game.us_army_forces.each do |type, number| %>
              <div class="row">
                <div class="col"><%= type.capitalize %></div>
                <div class="col"><%= number %></div>
              </div>  
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div id="message-button">
        <i class="material-icons md-28">message</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="player-info" id="general">
        <div class="row">
          <div class="col-md-12 spaced">
            <div class="bold">
              Playing: <%= @player.country.capitalize %>    
            </div>
            <div>
              <%= @player.lost_cities %> / <%= (@player.country == 'china') ? 9 : 5 %>  cities lost
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="bold col-md-3">
            Launch sites
          </div>
          <div class='col-md-9'>
            <% @player.launch_sites.each do |name, attributes| %>
            <div class="row">
              <div class='col'>
                <%= name.capitalize %>
              </div> 
              <div class='col'>
                <%= attributes[:operational] ? 'Operational' : 'Destroyed' %>
              </div>         
            </div>
            <% end %>
          </div>  
        </div>
      </div>
      <div class="player-info" id="spies">
        <div class="row">
          <div class="bold col-md-3">
            Spies
          </div>
          <div class='col-md-9'>
          <% @player.spies.each do |id, attributes| %>
            <div class="row">
              <div class='col'>
                <%= attributes[:name] %>              
              </div>
              <div class='col'>
                <%= attributes[:operational] ? 'Operational' : 'Killed in action' %>
              </div>
            </div>
            
          <% end %>
          </div>
        </div>
      </div>
      <div class="player-info" id="available-forces">
        <div class="row">
          <div class="bold col-md-3">
            Available forces
          </div>
          <div class='col-md-9'>
          <% @player.available_forces.each do |type, number| %>
            <div class="row">
              <div class="col"><%= type.capitalize %></div>
              <div class="col"><%= number %></div>
            </div>  
          <% end %>
          </div>
        </div>
      </div>
      <div class="player-info" id="engaged-forces">
        <div class="row">
          <div class="bold col-md-3">Engaged forces</div>
          <div class='col-md-9'>
          <% @player.engaged_forces.each do |type, number| %>
            <div class="row">
              <div class='col'><%= type.capitalize %></div>
              <div class='col'><%= number %></div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      
      <div class='map' id="cities">
        <form action=<%= game_path(@game)%> method="post" class='cities-form' id='cities-form'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input name="_method" type="hidden" value="patch" />
          <% @game.launch_sites.each do |name, attributes| %>
            <input type="checkbox" name="targets[<%= attributes[:id] %>]" value="<%= name %>" class='city-input' 
            id='city-id-<%= attributes[:id] %>' disabled>
              Launch Site <%= name.capitalize %> / <%= 'ok' unless !attributes[:operational] %> 
            <br>

          <% end %>
          <% @game.cities.each do |city, attributes| %>
            
            <input type="checkbox" name="targets[<%= attributes[:id] %>]" value="<%= city %>" class='city-input' 
            id='city-id-<%= attributes[:id] %>' disabled>
              <%= city %>: <%= attributes[:pop] %> / 
              <%= attributes[:spies][@player.country.to_sym].nil? ? 'no spies' : attributes[:spies][@player.country.to_sym] %> / 
              <%= attributes[:destroyed] ? 'Annihilated' : 'ok' %> / 
              <%= attributes[:conquered] ? 'Conquered' : 'ok' %>
            <br>
          <% end %>
          <input type="submit" value="Update" name="commit" 
          class="btn btn-primary hidden" id='cities-submit' disabled />
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-action-selection">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">What will you do, <%= @player.country.capitalize %>?</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
            <!-- Modal body -->
        <div class="modal-body" id='modal-form'>
          <div id="modal-actions">
            <ul class="button-list-vertical">
              <li>
                <button type="button" class="btn btn-primary" data-action="recruit">
                  Recruit a new spy
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="mission">
                  Place your spies
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="attack" 
                        <%= can_attack?(@player.launch_sites) ? nil : 'disabled' %>>
                  Launch a nuclear attack
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-action="reinforce"
                        <%= can_reinforce?(@player.available_forces) ? nil : 'disabled' %>>
                  Send reinforcements to rebels
                </button>
              </li>
            </ul>
          </div>
          <div id="modal-update" class='hidden'>
            <form action=<%= game_path(@game)%> method="post" class='modal-form'>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input name="_method" type="hidden" value="patch" />

            </form>
            <div class="alert alert-info hidden" id="modal-notification-area">
    
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger center" data-dismiss="modal" id='modal-dismissal'>
            Back to map
          </button>
          <%= link_to 'Cancel action', cancel_action_path(@game), method: :delete, 
          class: "btn btn-danger hidden", id:'modal-action-cancel' %>
        </div>   
      </div>    
    </div>
  </div>
</div>
