<nav class="navbar navbar-expand-sm ">
  <div class='custom-navbar-blocks'>
    <%= image_tag("square_banner", height: '48', width: '48', class: 'image-banner') %>
    <%= link_to 'Stop Donald', root_path, class: "navbar-brand" %>
  </div>
  <% if user_signed_in? && current_user.show_tutorial %>
    <div class="custom-navbar-blocks center">
      <button class="btn btn-primary">See tutorial</button>
    </div>
  <% end %>
  <div class="custom-navbar-blocks-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'My games', games_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create account', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
</nav>