<!DOCTYPE html>
<html>
  <head>
    <title>Stop Donald from destroying the world!</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="November 2020. The former US president threatens the world with his big nuclear button after losing the election. Your mission is to find him and stop him.">

    <!-- Responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114626786-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114626786-1');
    </script>
    
    <!-- Styles and scripts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Mapbox links -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" href="/assets/favicon.png">

    <!-- Websocket -->
    <%= action_cable_meta_tag %>
  </head>

  <body id='bootstrap-overrides'>
    <div>
      <%= render 'layouts/header' %>
      <div class="container" id='flash-area'>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <div class="container" id='notification-area'>
      </div>
      
      <%= yield %>
    </div>
    <div class="container-fluid footer">
      <div class="bottom-line"></div>
    </div>
    
  </body>
</html>
